/* --------DESKTOP------- */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*---------------  hed  ----------*/

  .address {
    flex-wrap: nowrap;
  }

  .logo-box {
    margin-left: 0px;
    margin-right: 120px;
  }
  .logo-header {
    margin-right: 76px;
  }

  .footer-icon-text {
    margin-right: 80px;
  }
  .list {
    margin-right: 322px;
  }
  .address-list {
    gap: 40px;
  }

  /* ----- hero------ */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office.jpg');
  }

  /* ----------specifics--------- */

  .specifics {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .section-specifics {
    flex-wrap: nowrap;
  }

  .icon-specifics {
    width: 64px;
    height: 64px;
  }

  .bg-specifics {
    background: #f4f4fd;
    border-radius: 4px;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post-title {
    font-weight: 500;
    font-size: 20px;
  }

  .post-title-text {
    max-width: 264px;
    font-weight: 400;
  }

  /* --------what are we doing-------- */

  .doing-box {
    display: unset;
  }

  /* ----- Our Team ------- */

  .team-item {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .footer-text {
    flex-wrap: nowrap;
  }

  .footer-subscribe {
    margin-left: 0px;
  }

  /*------- costomers -------*/

  /* ---------portfolio-------- */

  .portfol-img {
    column-gap: 24px;
    row-gap: 48px;
  }

  .modal {
    top: 80px;
  }

  @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section-hero{
background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), url('../images/people-office-2x.jpg');
}
}
}
