/* ----MOBILE----- */

@media screen and (min-width: 480px) and (max-width: 767px)
 {
    
    .container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.mobile-phone {
   
    font-size: 36px;


}

/* ----- hero------ */

  .hero {
  padding-bottom: 108px;
}

.title-text {
    max-width: 396px;
}

/* ----------specifics--------- */


/* --------what are we doing-------- */

/* ----- Our Team ------- */

/*------- costomers -------*/



}
