/* --------TABLET-------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  /*---------------  hed  ----------*/
.mobile-menu-open {
  display: none;
}

.logo-box {
      margin-right: 24px;
      margin-left: 108px;
}

.heder-case {
    
    justify-content: unset;
}

  .logo-header {

  margin-right: 123px;
}

.span-logo {
  color: var(--btn-text-color);
}

.studio,
.portfolio,
.contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-textmain-text-color);
  transition: color var(--hover-transition);
}
.studio:hover,
.studio:focus,
.portfolio:hover,
.portfolio:focus,
.contacts:hover,
.contacts:focus {
  color: var(--btn-text-color);
}
.navigation {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  flex-wrap: wrap;
  
}

.mail,
.phone {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  color: var(--second-text-color);
  transition: color var(--hover-transition);
}
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--btn-text-color);
}

.logo-footer {
  
  margin-left: 0px;
}


  /* ----- hero------ */

 .hero {
    background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url('../images/dark-bg-table.jpg');
 }
  
  .title-text {
    font-size: 56px;
    width: 496px;
  }

  /* ----------specifics--------- */
  .post-title-text {
    max-width: 356px;
  }
  
  /* --------what are we doing-------- */

  /* ----- Our Team ------- */

   .team-item {
    gap: 64px 24px;
    
   }

/*------- costomers -------*/

.client-item {
  gap: 72px 24px;
}

/* -------footer------ */



.logo-conteiner {
  text-align: unset;
}

.footer-subscribe {
  margin-left: 108px;
}


.footer-subscribe-title {
  text-align: left;
  
}

.footer-text {
  justify-content: unset;
}

.icon-text{
    text-align: left;
  }



/* ---------portfolio-------- */

.portfol-img {
    
    column-gap: 16px;
    row-gap: 72px;
}

.botton {

  justify-content:center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section-hero{
background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), url('../images/dark-bg-table-2x.jpg');
}

  }
}